html
    head
        title Welcome on my awesome website!
        link(rel="stylesheet", href="/css/style.css")
    body
        main
            center
                h1(class="title") Faîtes votre choix:
                a(href="/pierre").link-pierre <img src="/image/meteorite.png" />
                a(href="/feuille").link-feuille <img src="/image/feuille.png" />
                a(href="/ciseau").link-ciseau <img src="/image/ciseau.png" />